<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emenuapp_pk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"  android:required="true"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/c_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|locale"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- printer App -->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://3da78e1e5e794db3ae5282f2132d9805@o793004.ingest.sentry.io/4504537151635456" />

        <activity
            android:name=".ui.devices.HomeActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar" >

        </activity>
        <activity
            android:name=".ui.print.PrintActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.App.ActivityDialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="print"
                    android:scheme="empplight" />
                <data
                    android:host="cash_drawer"
                    android:scheme="empplight" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.print.GenericPrintActivity"
            android:theme="@style/Theme.App.ActivityDialog" />
        <activity
            android:name=".ui.print.StarPrintActivity"
            android:theme="@style/Theme.App.ActivityDialog" />
        <activity
            android:name=".ui.print.SunmiPrintActivity"
            android:theme="@style/Theme.App.ActivityDialog" />
        <activity
            android:name=".ui.log.ExceptionLogActivity"
            android:theme="@style/Theme.App.NoActionBar" /> <!-- 2.0 -->
        <activity
            android:name=".ui.connectivity.UsbConnectionActivity"
            android:exported="true"
            android:theme="@style/Theme.App.ActivityDialog">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>